# https://github.com/junegunn/fzf
if command -v fzf &> /dev/null; then
  export FZF_DEFAULT_OPTS_FILE="{{ .chezmoi.homeDir }}/.fzfrc"

  fzf_bash=$(fzf --bash)
  eval "$fzf_bash"
  unset fzf_bash
fi

# TODO: https://junegunn.github.io/fzf/tips/ripgrep-integration/
