# Managed by homemaker, so edit this file in the 'dotfiles' repo, not locally

[color]
	branch = auto
	diff = auto
	status = auto
	ui = auto
[core]
	editor = nano
[http]
	cookiefile = {{.Env.HOME}}/.gitcookies
[include]
	path = ~/.gitconfig.aliases
[merge]
	tool = kdiff3
[push]
	followTags = true
[user]
	name = James Lucktaylor
	useConfigOnly = true
