# Managed by homemaker, so edit this file in the 'dotfiles' repo, not locally

[alias]
	ap = add --patch
	change = codereview change
	dt = difftool -y
	gofmt = codereview gofmt
	mail = codereview mail
	pending = codereview pending
	rup = remote update --prune
	submit = codereview submit
	sync = codereview sync
[color]
	branch = auto
	diff = auto
	status = auto
	ui = auto
[http]
	cookiefile = {{.Env.HOME}}/.gitcookies
[merge]
	tool = kdiff3
[url "git@github.com:"]
	insteadOf = https://github.com/
[user]
	name = James Lucktaylor
	useConfigOnly = true
