---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: chezmoidata
        name: Chezmoi data
        entry: task --taskfile="Taskfile.chezmoi.yaml" data
        language: unsupported
        files: |
          (?x)^(
            chezmoidata.schema.json|
            .chezmoidata.yaml
          )$
        pass_filenames: false
        stages:
          - pre-commit
          - pre-push
        description: Format the chezmoidata JSON Schema, and validate the '.chezmoidata.yaml' file with it

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck
        args:
          - '--enable=all'
          - '--exclude=SC2250'
          - '--external-sources'
          - '--severity=style'
          - '--shell=bash'
        stages:
          - pre-commit
          - pre-push
