# Managed by chezmoi, so edit this file in the 'dotfiles' repo, not locally.
#
# This is Git's per-user configuration file.

[color]
	branch = auto
	diff = auto
	status = auto
	ui = auto

[commit]
	template = {{ .chezmoi.homedir }}/.gitmessage

[core]
{{- if eq .chezmoi.os "windows" }}
	autocrlf = true
{{- else }}
	autocrlf = input
{{- end }}
	editor = nano

[credential]
{{- if eq .chezmoi.os "darwin" }}
	helper = osxkeychain
{{- else if eq .chezmoi.os "linux" -}}
	helper = cache
{{- end }}

[http]
	cookiefile = {{ .chezmoi.homedir }}/.gitcookies

[include]
	path = {{ .chezmoi.homedir }}/.gitconfig.aliases

[merge]
	tool = p4merge

[push]
	followTags = true

[user]
	name = James Lucktaylor
	useConfigOnly = true

# https://github.com/lyze/posh-git-sh#configuration-options
[bash]
	branchBehindAndAheadDisplay = full
	describeStyle = default
	enableFileStatus = true
	enableGitStatus = true
	enableStashStatus = true
	enableStatusSymbol = true
	showStatusWhenZero = false
	showUpstream = git

[hub]
	protocol = https
