// Note to self: if you're in here trying to figure out how to get Terraform to use locally-cached providers, instead
// of constantly (re)downloading them all of the time:
// 1. make sure you have a `.terraform.lock.hcl` file, because
// 2. this issue (https://github.com/hashicorp/terraform/issues/32936) makes it clear there is a bug in the area.

{{if lookPath "op" -}}
credentials "app.terraform.io" {
  {{- if eq .profile "personal"}}
  // Personal token - managed by chezmoi
  token = "{{onepasswordRead "op://Personal/Terraform Cloud - personal/Token" "my.1password.com"}}"
  {{- else if eq .profile "ovo"}}
  // OVO token - managed by chezmoi
  token = "{{onepasswordRead "op://Private/OVO Terraform Cloud token/credential" "ovotech.1password.com"}}"
  {{- end}}
}

{{end -}}
// Enables plugin caching and specifies, as a string, the location of the plugin cache directory.
// https://developer.hashicorp.com/terraform/cli/config/config-file#provider-plugin-cache
plugin_cache_dir = "{{.chezmoi.homeDir}}/.terraform.d/plugin-cache"
