# Managed by chezmoi, so edit this file in the 'dotfiles' repo, not locally.
#
# This is Git's per-user configuration file.

[advice]
	addIgnoredFile = false

[color]
	branch = auto
	diff = auto
	status = auto
	ui = auto

[color "branch"]
	current = green reverse
	local = green
	plain = white
	remote = yellow
	upstream = blue

[color "diff"]
	frag = magenta bold
	func = brightblue
	new = brightgreen
	newMoved = green
	old = brightred
	oldMoved = red

[color "status"]
	branch = brightmagenta
	changed = red
	header = white
	localBranch = brightmagenta
	remoteBranch = brightmagenta
	unmerged = blue
	untracked = yellow
	updated = green

[commit]
	gpgsign = true
	template = {{ .chezmoi.homedir }}/.gitmessage

[core]
{{- if eq .chezmoi.os "windows" }}
	autocrlf = true
{{- else }}
	autocrlf = input
{{- end }}
	editor = nano

[credential]
{{- if eq .chezmoi.os "darwin" }}
	helper = osxkeychain
{{- else if eq .chezmoi.os "linux" -}}
	helper = cache
{{- end }}

[diff]
	renameLimit = 100000
	renames = copies

[help]
	autocorrect = 30

[http]
	cookiefile = {{ .chezmoi.homedir }}/.gitcookies

[include]
	path = {{ .chezmoi.homedir }}/.gitconfig.aliases

[merge]
	tool = p4merge

[pull]
	rebase = false

[push]
	default = simple
	followTags = true

[stash]
	showPatch = true
	showStat = true

[user]
	name = James Lucktaylor
	useConfigOnly = true

# https://github.com/lyze/posh-git-sh#configuration-options
[bash]
	branchBehindAndAheadDisplay = full
	describeStyle = default
	enableFileStatus = true
	enableGitStatus = true
	enableStashStatus = true
	enableStatusSymbol = true
	showStatusWhenZero = false
	showUpstream = git

# https://hub.github.com/hub.1.html
[hub]
	protocol = https

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
