#!/usr/bin/env bash
set -euo pipefail

{{ if eq .chezmoi.os "darwin" -}}
HOMEBREW_BUNDLE_FILE={{ .chezmoi.sourceDir }}/Brewfile brew bundle install --no-lock
{{- else if eq .chezmoi.os "linux" -}}
sudo apt update
sudo apt install --assume-yes --no-install-recommends jq zip
{{- end }}
