font-family = JetBrainsMono Nerd Font Mono
font-size = 14

cursor-style = bar
cursor-style-blink = true

theme = Catppuccin Mocha

quit-after-last-window-closed = true
window-save-state = never

scrollback-limit = 250000000

# https://s13k.dev/blackhole/
custom-shader = {{ .chezmoi.homeDir }}/git/github.com/s0xDk/ghostty-blackhole/blackhole.glsl
custom-shader-animation = true

# We're here to type, not click on things.
mouse-reporting = false
