NAMESPACE                POD                                                         CONTAINER
{{- range $pod := .items -}}
{{ range $container := .spec.containers -}}
{{ with .resources -}}
{{- if
  or
    (not .limits.cpu)
    (not .limits.memory)
    (not .requests.cpu)
    (not .requests.memory)
}}
{{ printf "%-25.25s" $pod.metadata.namespace }}{{ printf "%-60.60s" $pod.metadata.name }}{{ printf "%-25.25s" $container.name }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
