{
  "[dockerfile]": {
    "editor.defaultFormatter": "ms-azuretools.vscode-docker"
  },
  "[go.mod]": {
    "editor.codeActionsOnSave": {
      "source.organizeImports": true
    },
    "editor.formatOnSave": true
  },
  "[go]": {
    "editor.codeActionsOnSave": {
      "source.organizeImports": true
    },
    "editor.formatOnSave": true,
    "editor.snippetSuggestions": "none"
  },
  "[html]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[javascript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[json]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[jsonc]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[markdown]": {
    "editor.defaultFormatter": "yzhang.markdown-all-in-one"
  },
  "[python]": {
    "editor.formatOnType": true
  },
  "[rust]": {
    "editor.formatOnSave": true,
    "editor.tabSize": 2
  },
  "[terraform]": {
    "editor.formatOnSave": false
  },
  "[yaml]": {
    "editor.defaultFormatter": "redhat.vscode-yaml"
  },
  "ansible.executionEnvironment.pull.policy": "always",
  "cloudcode.autoDependencies": "off",
  "cloudcode.minikubeStatusBar": false,
  "devskim.enableBestPracticeRules": true,
  "diffEditor.ignoreTrimWhitespace": false,
  "docker.showStartPage": false,
  "editor.cursorBlinking": "phase",
  "editor.cursorStyle": "line-thin",
  "editor.detectIndentation": false,
  "editor.emptySelectionClipboard": false,
  "editor.find.cursorMoveOnType": false,
  "editor.fontFamily": "JetBrainsMono Nerd Font",
  "editor.fontLigatures": true,
  "editor.formatOnSave": true,
  "editor.guides.bracketPairs": true,
  "editor.minimap.renderCharacters": false,
  "editor.minimap.showSlider": "always",
  "editor.multiCursorModifier": "alt",
  "editor.renderControlCharacters": true,
  "editor.renderWhitespace": "trailing",
  "editor.rulers": [119, 120],
  "editor.stickyScroll.enabled": true,
  "editor.tabSize": 2,
  "editor.wordWrap": "bounded",
  "editor.wordWrapColumn": 120,
  "explorer.confirmDragAndDrop": false,
  "explorer.incrementalNaming": "smart",
  "explorer.openEditors.sortOrder": "alphabetical",
  "explorer.sortOrder": "type",
  "files.associations": {
    "*.mmark": "markdown",
    ".chezmoiignore": "ignore",
    ".env": "properties",
    ".firebaserc": "json",
    ".gcloudignore": "ignore",
    ".gitconfig": "properties",
    ".gitconfig.aliases": "properties",
    "htoprc": "properties"
  },
  "files.autoSave": "onFocusChange",
  "files.defaultLanguage": "${activeEditorLanguage}",
  "files.enableTrash": false,
  "files.eol": "\n",
  "files.exclude": {
    "**/*.js": {
      "when": "$(basename).ts"
    },
    "**/.DS_Store": true,
    "**/.git": true,
    "**/.hg": true,
    "**/.svn": true,
    "**/CVS": true
  },
  "files.hotExit": "onExitAndWindowClose",
  "files.insertFinalNewline": true,
  "files.trimFinalNewlines": true,
  "files.trimTrailingWhitespace": true,
  "git.autoRepositoryDetection": false,
  "git.autoStash": true,
  "git.autofetch": "all",
  "git.autofetchPeriod": 30,
  "git.confirmSync": false,
  "git.countBadge": "off",
  "git.defaultCloneDirectory": "~/git",
  "git.enableStatusBarSync": false,
  "git.fetchOnPull": true,
  "git.ignoreLimitWarning": true,
  "git.openRepositoryInParentFolders": "always",
  "go.alternateTools": {
    "gometalinter": "{{ env "package_manager_prefix" }}/bin/golangci-lint"
  },
  "go.editorContextMenuCommands": {
    "fillStruct": true
  },
  "go.lintFlags": ["--fast"],
  "go.lintTool": "golangci-lint",
  "go.testExplorer.packageDisplayMode": "nested",
  "go.testFlags": ["-count=1", "-v"],
  "go.toolsGopath": "~/vscode-go",
  "go.toolsManagement.autoUpdate": true,
  "go.toolsManagement.checkForUpdates": "local",
  "go.useLanguageServer": true,
  "gopls": {
    "formatting.gofumpt": true,
    "ui.codelenses": {
      "run_govulncheck": true,
      "vendor": false
    },
    "ui.completion.usePlaceholders": true,
    "ui.diagnostic.staticcheck": true,
    "ui.navigation.importShortcut": "Both"
  },
  "hadolint.cliOptions": ["--no-color"],
  "keyboard.touchbar.ignored": ["workbench.action.debug.run", "workbench.action.debug.start"],
  "markdown.extension.list.indentationSize": "inherit",
  "markdown.extension.orderedList.autoRenumber": false,
  "markdown.extension.orderedList.marker": "one",
  "markdown.extension.toc.levels": "2..6",
  "markdown.preview.doubleClickToSwitchToEditor": false,
  "markdown.preview.scrollEditorWithPreview": false,
  "material-icon-theme.folders.associations": {
    "infra": "components"
  },
  "material-icon-theme.showUpdateMessage": false,
  "prettier.printWidth": 120,
  "python.showStartPage": false,
  "redhat.telemetry.enabled": true,
  "rust-analyzer.checkOnSave.command": "clippy",
  "rust-analyzer.checkOnSave.extraArgs": [
    "--no-deps",
    "--",
    "--warn",
    "clippy::pedantic",
    "--warn",
    "clippy::nursery",
    "--warn",
    "clippy::unwrap_used",
    "--warn",
    "clippy::expect_used",
    "--forbid",
    "unsafe_code"
  ],
  "search.searchOnType": false,
  "shellcheck.customArgs": [
    "--enable=all",
    "--exclude=SC2250",
    "--external-sources",
    "--severity=style",
    "--shell=bash"
  ],
  "shellcheck.executablePath": "{{ env "package_manager_prefix" }}/bin/shellcheck",
  "shellformat.effectLanguages": [
    "azcli",
    "bats",
    "dotenv",
    "gitignore",
    "hosts",
    "ignore",
    "jvmoptions",
    "properties",
    "shellscript",
    "spring-boot-properties"
  ],
  "shellformat.flag": "--binary-next-line --case-indent --indent 2 --simplify --space-redirects",
  "shellformat.path": "{{ env "package_manager_prefix" }}/bin/shfmt",
  "sortLines.sortEntireFile": true,
  "terminal.integrated.allowChords": false,
  "terminal.integrated.cursorBlinking": true,
  "terminal.integrated.cursorStyle": "line",
  "terminal.integrated.defaultProfile.osx": "Bash (login)",
  "terminal.integrated.enablePersistentSessions": false,
  "terminal.integrated.inheritEnv": false,
  "terminal.integrated.persistentSessionReviveProcess": "never",
  "terminal.integrated.profiles.osx": {
    "Bash (login)": {
      "args": ["--login"],
      "icon": "terminal-bash",
      "path": "{{ env "package_manager_prefix" }}/bin/bash"
    }
  },
  "terminal.integrated.scrollback": 999999,
  "terminal.integrated.showExitAlert": false,
  "terraform.codelens.referenceCount": true,
  "vs-kubernetes": {
    "checkForMinikubeUpgrade": false,
    "vs-kubernetes.helm-path.mac": "{{ env "package_manager_prefix" }}/bin/helm",
    "vs-kubernetes.knownKubeconfigs": ["{{ .chezmoi.homeDir }}/.kube/config"],
    "vs-kubernetes.kubeconfig": "{{ .chezmoi.homeDir }}/.kube/config",
    "vs-kubernetes.kubectl-path.mac": "{{ env "package_manager_prefix" }}/bin/kubectl",
    "vs-kubernetes.minikube-path.mac": "{{ .chezmoi.homeDir }}/.vs-kubernetes/tools/minikube/darwin-arm64/minikube"
  },
  "vscode-kubernetes.helm-path.mac": "{{ env "package_manager_prefix" }}/bin/helm",
  "vscode-kubernetes.kubectl-path.mac": "{{ env "package_manager_prefix" }}/bin/kubectl",
  "vscode-kubernetes.minikube-path.mac": "{{ .chezmoi.homeDir }}/.vs-kubernetes/tools/minikube/darwin-arm64/minikube",
  "window.closeWhenEmpty": true,
  "window.commandCenter": true,
  "window.newWindowDimensions": "maximized",
  "window.openWithoutArgumentsInNewWindow": "on",
  "window.restoreWindows": "preserve",
  "window.title": "${activeFolderMedium}/${activeEditorShort}${separator}${rootName}",
  "workbench.colorTheme": "Default Dark+",
  "workbench.editor.decorations.colors": true,
  "workbench.editorAssociations": {
    "*.ipynb": "jupyter-notebook"
  },
  "workbench.iconTheme": "material-icon-theme",
  "workbench.tree.renderIndentGuides": "always",
  "yaml.customTags": ["!encrypted/pkcs1-oaep scalar", "!vault scalar"]
}
