cursor:
  style:
    blinking: Always
    shape: Beam

font:
  normal:
    family: JetBrains Mono
    style: Regular

  bold:
    style: Bold

  italic:
    style: Italic

  bold_italic:
    style: Bold Italic

  size: 12.0

mouse:
  hide_when_typing: true

scrolling:
  history: 100000

shell:
  program: {{ env "package_manager_prefix" }}/bin/bash
  args:
    - --login

window:
  decorations: buttonless
  opacity: 1.0
  startup_mode: Maximized
