{{- if lookPath "op" -}}
{
  "credentials": {
    "app.terraform.io": {
      {{ if eq (env "CHEZMOI_TERRAFORM_TOKEN") "personal" -}}
      "__note": "Personal token - managed by chezmoi",
      "token": "{{ onepasswordRead "op://Personal/Terraform Cloud - personal/Token" "my.1password.com" }}"
      {{- else -}}
      "__note": "OVO token - managed by chezmoi",
      "token": "{{ onepasswordRead "op://Private/OVO Terraform Cloud token/credential" "ovotech.1password.com" }}"
      {{- end }}
    }
  }
}
{{- end }}
