{{- if lookPath "op" -}}
{
  "credentials": {
    "app.terraform.io": {
      "__note": "OVO token - managed by chezmoi",
      "token": "{{ onepasswordRead "op://Private/Terraform Cloud token/credential" "ovotech.1password.com" | trim }}"
    }
  }
}
{{- end }}
