set atblanks
set autoindent
set boldtext
set constantshow
set fill 72
set linenumbers
set smarthome
set softwrap
set tabsize 2
set trimblanks

unset casesensitive
unset nonewlines
unset nowrap

bind M-B prevword all
bind M-F nextword all

{{- if eq .chezmoi.os "darwin" }}
include /usr/local/share/nanorc/*.nanorc
{{- else if eq .chezmoi.os "linux" -}}
include /usr/share/nano/*.nanorc
{{- end }}
